<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/Tutor.jpeg"  width="300px" height="300px" alt="tutor-logo">
  </div>
  <div class="headings">
    <h2>Tutor-ME</h2>
    <h3>Find yourself the best tutor</h3>
    <a href="/preview" class="btn">See Tutors</a>
  </div>
</header>


<%- include('partials/footer'); -%>