<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .checked {
    color: orange;
  }

.recipe:hover{
  transform: scale(1.1);
		z-index: 2;
		box-shadow: 2px 2px 2px #000;
}
  </style>

<%- include('partials/header'); -%>


<ul class="recipes">
  <li class="recipe">
    <a href="/profile1">
    <img src="/men.png" alt="profile-pic icon">
    <h4>Ajibabi Benjamin</h4>
    <p>Nuclear Chemistry</p><br>
    <div>
      <h4>Rating</h4>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </a>
    </div>
    
  </li>
  <li class="recipe">
    <a href="/profile2">
    <img src="/women.jpeg" alt="profile-pic icon">
    <h4>Danielle Ogbidi</h4>
    <p>Theoritical Physics</p><br>
    <div>
      <h4>Rating</h4>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </a>
    </div>
    
  </li>
  <li class="recipe">
    <a href="/profile3">
    <img src="/men.png" alt="profile-pic icon">
    <h4>Osaro Imohe</h4>
    <p>Web Development</p><br>
    <div>
      <h4>Rating</h4>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </a>
    </div>
    
  </li>
  <li class="recipe">
    <a href="/profile4">
    <img src="/women.jpeg" alt="profile-pic icon">
    <h4>Onye Chisom</h4>
    <p>Business Management</p><br>
    <div>
      <h4>Rating</h4>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </a>
    </div>
    
  </li>
  <li class="recipe">
    <a href="/profile5">
    <img src="/men.png" alt="profile-pic icon">
    <h4>Amos Morris</h4>
    <p>Cyber Security</p><br>
    <div>
      <h4>Rating</h4>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </a>
    </div>
    
  </li>
  <li class="recipe">
    <a href="/profile6">
    <img src="/women.jpeg" alt="profile-pic icon">
     <h4>Agbo Tracy</h4>
     <p>Fashion Design</p><br>
     <div>
      <h4>Rating</h4>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </a>
    </div>
    
   </li>
</ul>


<%- include('partials/footer'); -%>