<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .checked {
    color: orange;
  }
</style>

<%- include('partials/header'); -%>

<div class="profile-1">
    <img src="/women.jpeg" alt="profile-pic icon">
    <h4>Name: Danielle Ogbidi</h4>
    <h4>Nationality: Nigerian🇳🇬</h4>
    <h4>Course: Theoritical Physics</h4>
    <h4>Email: Danielleogbidi@gmail.com</h4>
    <div>
        <br>
        <h4>Rating</h4>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="form-1">
        <form>
            <h3>Ask question...</h3><br>
            <textarea  cols="42" rows="10" placeholder="..."></textarea>
            <button>Submit</button>
        </form>
        
      </div>
   
</div>

<%- include('partials/footer'); -%>